POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=fintv
POSTGRES_USER=fintv
POSTGRES_PASSWORD=fintv
CHANNELFLOW_MEDIA=./media
JELLYFIN_URL=http://jellyfin:8096
TZ=America/Chicago
CHANNELFLOW_PORT=8097
CHANNELFLOW_PUBLIC_URL=
CHANNELFLOW_PATH_BASE=
FFMPEG_HWACCEL=vaapi
FFMPEG_VAAPI_DEVICE=/dev/dri/renderD128
